<!--
  Things to change:
    - h1 
    - action 
    - hidden input patch 
    - pre-filled values 
    - submit button 
-->

<!-- if cat has previously saved (persisted), then we are patching -->
<!-- otherwise we are posting -->
<% action_url = cat.persisted? ? cat_url(cat) : cats_url %>
<% method = cat.persisted? ? :patch : :post %>

<% if method == :patch %>
    <h1>Edit <%= cat.name %></h1>
<% else %>
    <h1>Create New Cat</h1>
<% end %>

<form action="<%= action_url %>" method = "POST">
    <% if method == :patch %>
        <input type="hidden" name="_method" value="PATCH">
    <% end %>

    <label for="name">Name:</label>
    <input type="text" name="cat[name]" id="name" value=<%= cat.name %>>

    <br>

    <p>Sex: </p>
    <input type="radio" name="cat[sex]" id="cat_male" value = 'M'
    <%= (cat.sex == 'M') ? 'checked' : '' %>
    >
    <label for="cat_male">Male</label>

    <input type="radio" name="cat[sex]" id="cat_female" value = 'F'
    <%= (cat.sex == 'F') ? 'checked' : '' %>
    >
    <label for="cat_female">Female</label>
    
    <br><br>

    <label for="color">Color: </label>
    <select name="cat[color]" id="color">
        <option disabled selected>--Select Color--</option>
        <% Cat::CAT_COLORS.each do |color| %>
            <% if cat.color == color %>
                <option value="<%= color %>" selected><%= color.capitalize %></option>
            <% else %>
                <option value="<%= color %>"><%= color.capitalize %></option>
            <% end %>
        <% end %>
    </select>

    <br><br>

    <label for="birth_date">Birth Date: </label>
    <input type="date" id="birth_date" name="cat[birth_date]" value=<%= cat.birth_date %>>

    <br>

    <label for="description">Description: </label>
    <br>
    <textarea name="cat[description]" id="description" cols="30" rows="10">
        <%= cat.description %>
    </textarea>
    
    <% if method == :patch %>
        <input type="submit" value="Edit">
    <% else %>
        <input type="submit" value="Submit">
    <% end %>
</form>


