<% action_url = @post.persisted? ? post_url(@post) : posts_url %>
<% cta_button = @post.persisted? ? "Update Post" : "Create Post" %>
<% method = @post.persisted? ? "patch" : "post" %>

<form action="<%= action_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="<%= method %>">
    
    <label for="post_title">Title</label>
    <br>
    <input type="text" name="post[title]" id="post_title" value="<%= @post.title %>">
    <br>

    <label for="post_url">Link</label>
    <br>
    <input type="text" name="post[url]" id="post_url" value="<%= @post.url %>">
    <br>

    <label for="post_content">Content</label>
    <br>
    <textarea name="post[content]" id="post_content" cols="30" rows="10"><%= @post.content %></textarea>
    <br>

    <!-- A hidden input that will guarantee sending something [""] -->
    <input type="hidden" name="post[sub_ids][]" value="">
    <% Sub.all.each do |sub| %>
    <label>
        <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>%"
            <%= "checked" if @post.sub_ids.include?(sub.id) %>
        >
        <%= sub.title %>
    </label>
    <% end %>
    <br>

    <input type="submit" value="<%= cta_button %>">
</form>