<% header = track.persisted? ?  "Edit #{track.title}" : "New Track" %>
<% action = track.persisted? ? track_url(track) : tracks_url %>
<% http_method = track.persisted? ? "PATCH" : "POST" %>
<% cta = track.persisted? ? "Edit Track" : "Create New Track" %>

<h1><%= header %></h1>

<%= render 'shared/errors' %>

<form action="<%= action %>" method="post">
    <input type="hidden" name="_method" value="<%= http_method %>">
    
    <%= auth_token %>
    
    <p>
        Band: <%#= @album.band.name %>
    </p>

    <p>
        <label for="track_album">Album Title: </label>
        <select name="track[album_id]" id="track_album">
                <option disabled>--SELECT THE ALBUM--</option>
            <% @track.band.albums.each do |album| %>
                <option 
                    value="<%= album.id %>"
                    <%= "selected" if track.album_id == album.id %>>
                    <%= album.title %>
                </option>
            <% end %>
        </select>
    </p>

    <br>

    <p>
        <label for="track_title">Title: </label>
        <input type="text" name="track[title]" id="track_title" value="<%= track.title unless @track.nil? %>">
    </p>

    <p>
        <label for="track_lyrics">Lyrics: </label>
        <br>
        <textarea name="track[lyrics]" id="track_lyrics" cols="30" rows="10"><%= track.lyrics unless @track.nil? %></textarea>
    </p>

    <br>

    <p>
        <label for="track_ord">Ord: </label>
        <input type="text" name="track[ord]" id="track_ord" value="<%= track.ord unless track.nil? %>">
    </p>

    <p>
        Bonus:
        <label for="track_bonus_t">Bonus</label>
        <input type="radio" name="track[bonus]" value="t" id="track_bonus_t" <%= "checked" if track.bonus %>>
        <label for="track_bonus_f">Regular</label>
        <input type="radio" name="track[bonus]" value="false" id="track_bonus_f" <%= "checked" if !track.bonus %>>
    </p>

    <br>

        
    <input type="submit" value="<%= cta %>">


</form>